.bg {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.fg {
  position: absolute;
  z-index: 15;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 20;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.5);
  backdrop-filter: blur(10px);
}

.top {
  padding: 15px;
  position: absolute;
}

.bottom {
  padding: 15px;
  position: absolute;
  bottom: 0;
}

.right {
  padding: 15px;
  position: absolute;
  right: 0;
}

.data {
  display: inline-block;
  line-height: 2rem;
  padding-left: 0;
}

.labels {
  display: inline-block;
  line-height: 2rem;
  text-align: right;
  padding-right: 0;
}

.links {
  margin-top: 15px;
}

.links a {
  margin-right: 25px;
}

.clickable {
  pointer-events: all;
  cursor: pointer;
  transition: filter 200ms ease-out;
}

.clickable:hover {
  transition: filter 200ms ease-out;
  filter: drop-shadow(0px 0px 5px #e5e5e5);
}
